.app {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
}

.header {
  width: 100%;
  background-color: rgba(0, 124, 255, .6862745098039216);
  border-bottom: solid;
  border-width: 3px;
  border-color: rgba(191, 191, 191, .3588235294117647);
}

.nav h1 {
  font-size: 2rem;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
}

.nav .nav-item {
  margin: auto .5rem auto .5rem;
}

.nav .nav-item a {
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(0, 0, 0, .5411764705882353);
  text-transform: none;
  text-decoration: none;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 1);
}
