.App {
  text-align: center;
}
h1{
  text-align: center;
}
.linkDiv{
  display:flex;
  flex-direction: column;
  text-align: center;
}

.Nav-link {
  padding: 2rem;
}

.nav-item {
  margin-top: 1rem;
}
.home-image{
width: 70%;
margin: 0 15%;

}