body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navlink {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

a :visited{
  text-decoration: none;
  color: black;
}

.navlink--selected {
  color: black;
  font-weight: bold;
}

.view {
  border: 1px solid silver;
  padding: 1rem;
  max-width: 80%;
  margin: 10px auto;
}